html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ********************************************************************************************* */


.navbar .left-icon{
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-image: linear-gradient(to right , #FF5D00 ,#FE4229);
}
.navbar p{
  font-size: 14px;
}

.nav-img img{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #FFB86A;
}
.navbar-collapse {
    flex-grow: 0;}

